<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Droid+Serif" rel="stylesheet">
    <!-- This is bootsnipp -->
    <link rel="stylesheet" href="style/bootstrap_overwrite.css">
    <link rel="stylesheet" type="text/css" href="style/detail-blog.css">
</head>

<body>


    <div class="wrapped-page">
        <!-- -----------------------------------------
                    Header Top
                ---------------------------------------- -->

        <header class="header-top">
            <div class="container">
                <h1>TOM BLOG</h1>
                <div class="right-header ">

                </div>
                <div class="right-header hidden-sm hidden-xs">
                    <a class="log-in" data-toggle="modal" href='#modal-id'><span class="glyphicon glyphicon-user" aria-hidden="true"></span> LOG IN</a>
                    <div class="modal fade" id="modal-id">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <input type="text" name="">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href=".search" data-toggle="collapse"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                    <form class="search collapse">
                        <input type="text" name=""><button class="my-button"><b>Go !</b></button>
                    </form>
                </div>
            </div>

        </header>
        <!-- -----------------------------------------
                    Navigation
                ---------------------------------------- -->

        <nav class="navbar navbar-default my-nav" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse menu-place">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">HOME</a></li>
                        <li><a href="#">FOOTBALL</a></li>

                        <li><a href="#">TENNIS</a></li>
                        <li><a href="#">WRC</a></li>
                        <li><a href="#">VIDEO</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">MORE <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Our Company</a></li>
                                <li><a href="#">Partners</a></li>

                            </ul>
                        </li>
                    </ul>


                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>

        <div class="container my-page">
            <header class="detail-header">
                <div class="link-post">
                    <a href=""> Home</a><i class="fa fa-chevron-right" aria-hidden="true"></i><a href="">Tennis</a><i class="fa fa-chevron-right" aria-hidden="true"></i><a href="">Cincinnati Masters: Federer downs Murray to set up Raonic SF challenge</a>
                </div>
                <div class="main-title">
                    <span class="emphasis">Tennis</span>
                    <h1 class="text-in-page">Cincinnati Masters: Federer downs Murray to set up Raonic SF challenge</h1>
                    <p class="author text-in-page">By Tom Thomas . May 15<sup>th</sup> <span class="more-inf"><i class="fa fa-eye" aria-hidden="true"></i> 450</span> <span class="more-inf"><i class="fa fa-comments" aria-hidden="true"></i> 2</span></p>
                </div>

            </header>
            <div class="post-section">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main-page">
                        <div class="share-place">
                            <div>
                                <a class="socialbox facebook" href="https://www.facebook.com">
                                    <div class="social-icon">
                                        <i class="fa fa-fw fa-facebook"></i>
                                    </div>
                                    <div class="description">

                                        <span>Share on Facebook!</span>
                                    </div>
                                </a>
                                <a class="socialbox twitter" href="https://twitter.com/cghubs">
                                    <div class="social-icon">
                                        <i class="fa fa-fw fa-twitter"></i>
                                    </div>
                                    <div class="description">
                                        <span class="ng-binding"></span>
                                        <span>Follow us on Twitter!</span>
                                    </div>
                                </a>
                                <a class="socialbox pinterest" href="http://www.pinterest.com/search/pins/?q=cghubs">
                                    <div class="social-icon">
                                        <i class="fa fa-fw fa-pinterest"></i>
                                    </div>
                                    <div class="description">
                                        <span class="ng-binding"></span>
                                        <span>Find us on Pinterest!</span>
                                    </div>
                                </a>
                                <p class="text-in-page justified"><i>All right. Well, take care yourself. I guess that’s what you’re best, presence old master? A tremor in the Force. The last time felt it was in the presence of my old master. I have traced the Rebel spies to her European
                                    languages are members.</i></p>

                                <p class="text-in-page justified">Remember, a Jedi can feel the Force flowing through him. I can’t get involved! I’ve got work to do! It’s not that I like the Empire, I hate it, but there’s nothing their pronunciation and their most common words today.</p>
                                <figure class="text-in-page">
                                    <a href="">
                                        <img src="http://via.placeholder.com/1000x500" alt="" class="img-responsive">
                                    </a>
                                    <figcaption class="figure text-in-page for-info">Write something there</figcaption>
                                </figure>
                                <p class="text-in-page justified">Maybe only in the aspect that I think that I haven’t seen until now teams much better than Southampton. It (a top-four finish) would be fantastic. But we said before, you live game by game and we have to work hard. At solmen
                                    va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
                                <p class="text-in-page justified">The Saints play Aston Villa, Manchester City, Arsenal and Manchester United when the Premier League returns from the international break. Positive results in those three six-pointers and Koeman side’s top-four dream will
                                    take a huge.</p>
                                <p class="text-in-page special">
                                    <span class="special-text">"ULTIMATELY IT COST ME THE WIN"</span>
                                </p>
                                <p class="text-in-page justified">Maybe only in the aspect that I think that I haven’t seen until now teams much better than Southampton. It (a top-four finish) would be fantastic. But we said before, you live game by game and we have to work hard. At solmen
                                    va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
                                <p class="text-in-page justified">The Saints play Aston Villa, Manchester City, Arsenal and Manchester United when the Premier League returns from the international break. Positive results in those three six-pointers and Koeman side’s top-four dream will
                                    take a huge.</p>
                                <div class="place-share">
                                    <p class="share-text"><b>Share        </b></p>
                                    <a class="socialbox facebook" href="https://www.facebook.com">
                                        <div class="social-icon">
                                            <i class="fa fa-fw fa-facebook"></i>
                                        </div>
                                        <div class="description">

                                            <span>Share on Facebook!</span>
                                        </div>
                                    </a>
                                    <a class="socialbox twitter" href="https://twitter.com/cghubs">
                                        <div class="social-icon">
                                            <i class="fa fa-fw fa-twitter"></i>
                                        </div>
                                        <div class="description">
                                            <span class="ng-binding"></span>
                                            <span>Tweet on Twitter!</span>
                                        </div>
                                    </a>
                                    <a class="socialbox pinterest" href="http://www.pinterest.com/search/pins/?q=cghubs">
                                        <div class="social-icon">
                                            <i class="fa fa-fw fa-pinterest"></i>
                                        </div>
                                        <div class="description">
                                            <span class="ng-binding"></span>
                                            <span>Share on Pinterest!</span>
                                        </div>
                                    </a>

                                </div>

                                <div class="direction row">
                                    <div class="previous-post text-left col-sm-6 col-lg-6 col-md-6 hidden-xs">
                                        <a href="detail.html">Previous post </a>
                                        <h4><a href="detail.html">Oddly shaped sand trap if I do say so myself</a></h4>
                                    </div>
                                    <div class="previous-post text-right col-sm-6 col-lg-6 col-md-6 hidden-xs">
                                        <a href="detail.html">Next post </a>
                                        <h4><a href="detail.html">Sports Bloopers 2015 Funny Sport Fails Compilation</a></h4>
                                    </div>
                                </div>



                                <div class="post-title">
                                    <p class="title">
                                        COMMENTS
                                    </p>

                                </div>
                                <form role="form" class="comments-place">


                                    <div class="form-group">
                                        <label for="">Name*:</label>
                                        <input type="text" class="form-control input-place" id="" placeholder="Your email" ng-model="name" required="required"><br>
                                        <label for="">Email*:</label>
                                        <input type="email" class="form-control input-place" id="" placeholder="Your email" ng-model="email" required="required"><br>
                                        <label for="">Comments*:</label>
                                        <textarea name="" id="input" class="form-control input-place" rows="4" required="required" placeholder="Your comments" ng-model="comments"></textarea>
                                    </div>

                                    <button type="submit" class="my-button">Send it</button>
                                </form>

                                <div class="all-comments">
                                    <div class="row comments-out">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 image-com">
                                            <img src="images/user.jpg" class="img-comments">
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 detail-coms">
                                            <div>
                                                <h5 class="author text-left user-comments"><b>Tom Thomas</b></h5>
                                                <span class="date text-right">
                                        20:15 24/5/2016
                                    </span>
                                            </div>
                                            <p class="text-in-page">You should read it. This is so cool</p>
                                            <h5 class="text-in-page">Answer
                                                <a> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> <span class="count">1</span> <a><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a> <span class="count">1</span></h5>
                                        </div>
                                    </div>
                                    <div class="row comments-out">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 image-com">
                                            <img src="images/user.jpg" class="img-comments">
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 detail-coms">
                                            <div>
                                                <h5 class="author text-left user-comments"><b>Tom Thomas</b></h5>
                                                <span class="date text-right">
                                        20:15 24/5/2016
                                    </span>
                                            </div>
                                            <p class="text-in-page">You should read it. This is so cool</p>
                                            <h5 class="text-in-page">Answer
                                                <a> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> <span class="count">1</span> <a><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a> <span class="count">1</span></h5>
                                            <div class="row comments-out">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 image-com">
                                                    <img src="images/user.jpg" class="img-comments">
                                                </div>
                                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 detail-coms">
                                                    <div>
                                                        <h5 class="author text-left user-comments"><b>Tom Thomas</b></h5>
                                                        <span class="date text-right">
                                        20:15 24/5/2016
                                    </span>
                                                    </div>
                                                    <p class="text-in-page">You should read it. This is so cool</p>
                                                    <h5 class="text-in-page">Answer
                                                        <a> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> <span class="count">1</span> <a><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a> <span class="count">1</span></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row comments-out">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 image-com">
                                    <img src="images/user.jpg" class="img-comments">
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 detail-coms">
                                    <div>
                                        <h5 class="author text-left user-comments"><b>Tom Thomas</b></h5>
                                        <span class="date text-right">
                                        20:15 24/5/2016
                                    </span>
                                    </div>
                                    <p class="text-in-page">You should read it. This is so cool</p>
                                    <div>
                                        <h5 class="text-in-page author">Answer
                                            <a> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> <span class="count">1</span> <a><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a> <span class="count">1</span></h5>
                                        <span class="date text-right"><a href="">Reply</a></span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 widget">
                        <div class="post-title">
                            <p class="title">
                                OUR FACEBOOK
                            </p>
                        </div>
                        <div class="widget-page">

                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=200px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="100%" height="200px"
                                style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                        <div class="post-title">
                            <p class="emphasis">
                                SPORTS NEWS
                            </p>
                        </div>
                        <div class="widget-page">
                            <div class="widget-page-section">
                                <h4><a href="">Pedal power sees Amy complete world toughest cycle challenge</a></h4>
                                <p class="emphasis-small"> Cycling tour</p>
                            </div>
                            <div class="widget-page-section">
                                <h4><a> Pedal power sees Amy complete world toughest cycle challenge</a></h4>
                                <p class="emphasis-small">Cycling tour</p>
                            </div>
                            <div class="widget-page-section">
                                <h4><a>Pedal power sees Amy complete world toughest cycle challenge</a></h4>
                                <p class="emphasis-small">Cycling tour</p>
                            </div>
                        </div>
                        <div class="post-title">
                            <p class="emphasis">
                                MOST COMMENTS
                            </p>
                        </div>
                        <div class="widget-page">
                            <div class="widget-page-section">
                                <img src="http://via.placeholder.com/400x240" alt="" class="img-responsive">
                                <h3 class="for-title"><a href="">Pedal power sees Amy complete world toughest cycle challenge</a></h3>
                                <div class="post-info-latest">
                                    <p class="emphasis">Cycling</p>
                                    <p class="author">Tom . Apr 8, 2015</p>
                                    <p class="comments">1</p>
                                </div>
                                <p class="justified">All right. Well, take care yourself. I guess that's what you're best, presence old master? A tremor in the Force. The last time felt it was in the presence of my old master. I have traced the Rebel spies...</p>
                            </div>
                            <div class="widget-page-section">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                        <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                        <h5 class="for-title"><a href=""><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                        <p>May 8, 2015</p>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-page-section">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                        <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                        <h5 class="for-title"><a href=""><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                        <p>May 8, 2015</p>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-page-section">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                        <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                        <h5 class="for-title"><a href=""><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                        <p>May 8, 2015</p>
                                    </div>
                                </div>
                            </div>
                            <div class="post-title">
                                <p class="emphasis">
                                    CATEGORY
                                </p>
                            </div>
                            <div class="widget-page">
                                <ul>
                                    <li>Billiard</li>
                                    <li>Featured </li>
                                    <li>Sports News</li>
                                    <ul>
                                        <li>Tennis</li>
                                        <li>Soccer</li>
                                        <li>WRC</li>
                                        <li>BOXING</li>
                                    </ul>
                                    <li>Sport Today</li>
                                    <li>Video </li>

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <footer class="my-extra-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 foot-col">
                        <a><img src="http://via.placeholder.com/224x80" alt="" class="img-responsive foot-logo"></a>
                        <p class="footer-detail"> Landmark Digital Ltd, <br> Company Number 523737,<br> Linn Dubh, Assumption Road,<br> Blackpool, Cork. T23 RCH6</p>
                        <p class="footer-detail">+353 21 4802214<br><a href="mailto:tomthomas@gmail.com">tomthomas@gmail.com</a></p>
                        <ul class="social-foot">
                            <li class="social">
                                <a target="blank" href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="social">
                                <a target="blank" href="www.facebook.com"><i class="fa fa-youtube"></i></a>
                            </li>
                            <li class="social">
                                <a target="blank" href="www.facebook.com"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 foot-col">
                        <h3 class="for-title">POPULAR POSTS</h3>
                        <div class="row foot-pop">
                            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                <h5 class="for-title"><a href=""><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                <p class="for-info">May 8, 2015</p>
                            </div>
                        </div>
                        <div class="row foot-pop">
                            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                <h5 class="for-title"><a href=""><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                <p class="for-info">May 8, 2015</p>
                            </div>
                        </div>
                        <div class="row foot-pop">
                            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                <h5 class="for-title"><a href=""><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                <p class="for-info">May 8, 2015</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 foot-col">
                        <h3 class="for-title">POPULAR CATEGORY</h3>
                        <ul class="foot-cat">
                            <li>
                                <a class="cat-name" href="">Football<span class="cat-no">10</span></a></li>
                            <li>
                                <a class="cat-name" href="">Football<span class="cat-no">10</span></a></li>
                            <li>
                                <a class="cat-name" href="">Football<span class="cat-no">10</span></a></li>

                            <li>
                                <a class="cat-name" href="">Football<span class="cat-no">10</span></a></li>
                            <li>
                                <a class="cat-name" href="">Football<span class="cat-no">10</span></a></li>
                            <li>
                                <a class="cat-name" href="">Football<span class="cat-no">10</span></a></li>
                            <li>
                                <a class="cat-name" href="">Football<span class="cat-no">10</span></a></li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="containter text-center">
                <span class="copy">© SportNews 2017.</span>
            </div>
        </footer>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<!--Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="script/detail-blog.js"></script>

</html>