<!DOCTYPE html>
<html lang="en" ng-app="scotchApp">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Droid+Serif" rel="stylesheet">
    <link rel="stylesheet" href="library/ng-tags-input/ng-tags-input.min.css">
    <link rel="stylesheet" href="library/ng-tags-input/ng-tags-input.bootstrap.min.css">
    <!-- This is bootsnipp -->
    <link rel="stylesheet" href="style/bootstrap_overwrite.css">
    <link rel="stylesheet" type="text/css" href="style/main-blog.css">
    <link rel="stylesheet" type="text/css" href="style/detail-blog.css">
    <link rel="stylesheet" href="style/login-register.css">
    <link rel="stylesheet" href="/style/max-line.css">

</head>

<body ng-controller="mainController">


    <div class="wrapped-page">


        <!-- -----------------------------------------
                    Header Top
                ---------------------------------------- -->
        <header class="header-top">
            <div class="container">
                <h1>TOM BLOG</h1>
                <div class="right-header ">

                </div>
                <div class="right-header hidden-sm hidden-xs">
                    <a class="log-in" data-toggle="modal" href='.modal-id'><span class="glyphicon glyphicon-user" aria-hidden="true"></span> LOG IN</a>





                    <a href=".search" data-toggle="collapse"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                    <form class="search collapse">
                        <input type="text" name=""><button class="my-button"><b>Go !</b></button>
                    </form>
                </div>
            </div>

        </header>
        <!-- -----------------------------------------
                    Navigation
                ---------------------------------------- -->

        <nav class="navbar navbar-default my-nav" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div ng-init="apiGetCat()" class="collapse navbar-collapse navbar-ex1-collapse menu-place">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/">HOME</a></li>

                        <li ng-repeat=" x in Categories"><a href="#categories/{{x._id}}">{{x.name}}</a></li>
                        <li class="dropdown">
                            <a href="#/" class="dropdown-toggle" data-toggle="dropdown">MORE <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Our Company</a></li>
                                <li><a href="#">Partners</a></li>
                                <li><a href="admin.html">Admin</a></li>

                            </ul>
                        </li>
                    </ul>


                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>

        <div ng-init="apiGetArt()">
            <div ng-view>

            </div>
        </div>


        <footer class="my-extra-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 foot-col">
                        <a><img src="http://via.placeholder.com/224x80" alt="" class="img-responsive foot-logo"></a>
                        <p class="footer-detail"> Landmark Digital Ltd, <br> Company Number 523737,<br> Linn Dubh, Assumption Road,<br> Blackpool, Cork. T23 RCH6</p>
                        <p class="footer-detail">+353 21 4802214<br><a href="mailto:tomthomas@gmail.com">tomthomas@gmail.com</a></p>
                        <ul class="social-foot">
                            <li class="social">
                                <a target="blank" href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="social">
                                <a target="blank" href="www.facebook.com"><i class="fa fa-youtube"></i></a>
                            </li>
                            <li class="social">
                                <a target="blank" href="www.facebook.com"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 foot-col">
                        <h3 class="for-title">POPULAR POSTS</h3>
                        <div class="row foot-pop">
                            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                <h5 class="for-title"><a href="#detail"><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                <p class="for-info">May 8, 2015</p>
                            </div>
                        </div>
                        <div class="row foot-pop">
                            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                <h5 class="for-title"><a href="#detail"><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                <p class="for-info">May 8, 2015</p>
                            </div>
                        </div>
                        <div class="row foot-pop">
                            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                <h5 class="for-title"><a href="#detail"><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                <p class="for-info">May 8, 2015</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 foot-col">
                        <h3 class="for-title">POPULAR CATEGORY</h3>
                        <ul class="foot-cat">
                            <li>
                                <a class="cat-name" href="#detail">Football<span class="cat-no">10</span></a></li>
                            <li>
                                <a class="cat-name" href="#detail">Football<span class="cat-no">10</span></a></li>
                            <li>
                                <a class="cat-name" href="#detail">Football<span class="cat-no">10</span></a></li>

                            <li>
                                <a class="cat-name" href="#detail">Football<span class="cat-no">10</span></a></li>
                            <li>
                                <a class="cat-name" href="#detail">Football<span class="cat-no">10</span></a></li>
                            <li>
                                <a class="cat-name" href="#detail">Football<span class="cat-no">10</span></a></li>
                            <li>
                                <a class="cat-name" href="#detail">Football<span class="cat-no">10</span></a></li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="containter text-center">
                <span class="copy">© SportNews 2017.</span>
            </div>
        </footer>
        <div class="modal fade bs-modal-sm modal-id" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content my-sign">
                    <br>
                    <div class="bs-example bs-example-tabs">
                        <ul id="myTab" class="nav nav-tabs sign-control">
                            <li class="active"><a href=".signin" data-toggle="tab">Sign In</a></li>
                            <li class=""><a href=".signup" data-toggle="tab">Register</a></li>
                            <li class=""><a href=".why" data-toggle="tab">Why?</a></li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in why">
                                <p>We need this information so that you can receive access to the site and its content. Rest assured your information will not be sold, traded, or given to anyone.</p>
                                <p></p><br> Please contact
                                <a mailto:href="doanminhtam1998@gmail.com" class="normal">doanminhtam1998@gmail.com</a> for any other inquiries.</p>
                            </div>
                            <div class="tab-pane fade active in signin">
                                <form class="form-horizontal" ng-submit="login()">
                                    <fieldset>
                                        <!-- Sign In Form -->
                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="userid">Name:</label>
                                            <div class="controls">
                                                <input ng-model="user.name" required="" id="userid" name="userid" type="text" class="form-control" placeholder="JoeSixpack" class="input-medium" required="">
                                            </div>
                                        </div>
                                        <!-- Email input-->
                                        <div class="control-group">
                                            <label class="control-label" for="email">Email:</label>
                                            <div class="controls">
                                                <input ng-model="user.email" required="" name="passwordinput" class="form-control" type="email" placeholder="you@example.com" class="input-medium">
                                            </div>
                                        </div>

                                        <!-- Password input-->
                                        <div class="control-group">
                                            <label class="control-label" for="passwordinput">Password:</label>
                                            <div class="controls">
                                                <input ng-model="user.password" required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
                                            </div>
                                        </div>



                                        <!-- Multiple Checkboxes (inline) -->
                                        <div class="control-group">
                                            <label class="control-label" for="rememberme"></label>
                                            <div class="controls">
                                                <label class="checkbox inline my-checkbox" for="rememberme-0">
                                                                <input type="checkbox"  name="rememberme" id="rememberme-0" value="Remember me">
                                                                    Remember me
                                                            </label>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="control-group">
                                            <label class="control-label" for="signin"></label>
                                            <div class="controls">
                                                <button id="signin" type="submit" name="signin" class="btn btn-success">Sign In</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="tab-pane fade signup" id="signup">
                                <form ng-submit="summitSignup()" class="form-horizontal">
                                    <fieldset>
                                        <!-- Sign Up Form -->
                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="Email">Email:</label>
                                            <div class="controls">
                                                <input ng-model="signUpUser.email" id="Email" name="Email" class="form-control" type="text" placeholder="JoeSixpack@sixpacksrus.com" class="input-large" required="">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="userid">Name:</label>
                                            <div class="controls">
                                                <input ng-model="signUpUser.name" id="userid" name="userid" class="form-control" type="text" placeholder="JoeSixpack" class="input-large" required="">
                                            </div>
                                        </div>

                                        <!-- Password input-->
                                        <div class="control-group">
                                            <label class="control-label" for="password">Password:</label>
                                            <div class="controls">
                                                <input ng-model="signUpUser.password" id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                                                <em>1-8 Characters</em>
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
                                            <div class="controls">
                                                <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
                                            </div>
                                        </div>

                                        <!-- Multiple Radios (inline) -->
                                        <br>
                                        <div class="control-group">
                                            <label class="control-label" for="humancheck">Humanity Check:</label>
                                            <div class="controls my-checkbox">
                                                <label class="radio inline" for="humancheck-0">
                  <input type="radio" name="humancheck" id="humancheck-0" value="robot" checked="checked">I'm a Robot</label>
                                                <label class="radio inline" for="humancheck-1">
                  <input type="radio" name="humancheck" id="humancheck-1" value="human">I'm Human</label>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="control-group">
                                            <label class="control-label" for="confirmsignup"></label>
                                            <div class="controls">
                                                <button type='submit' id="confirmsignup" name="confirmsignup" class="btn btn-success">Sign Up</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <center>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </center>
                    </div>
                </div>
            </div>



        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<!--Latest compiled and minified JavaScript -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/script/blog.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

<script type="text/javascript" src="library/ui-bootstrap-tpls-2.5.0.min.js"></script>


<script src="/script/app-index.js"></script>

</html>