#logoname{
	font-size: xx-large;
	color:blue;
	font-family: "Logo";
	src:url('FontDep.com-Royalacid_o.ttf');
	display:inline;
	font-weight: bold;
}
div #logo{
	position: relative;

}
header{
	background-color: #ccc;
}
span #logodescrip{
	font-size: medium; 
	font-family: Arial;
	color: #000000;
}
#socialicon{
	padding-top: 20px;
}
#facebook{
	width:40px;
}
#google{
	width:40px;
}
#instagram{
	width: 40px;
}
#post{
	border: 1px solid #000;
	padding-bottom: 15px;
}
#place{
	border: 1px solid #000;
	border-radius: 2px;
	padding-bottom: 15px;
}
div #post1{
	margin-bottom:20px;;
}
#post1{
	
	margin-top:20px 
	
}
footer{
	
}