.cat-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title_input {
    padding-top: 10px;
}

.single-list-category {
    padding-top: 10px;
    padding-bottom: 10px;
}

.single-list-category:nth-child(even) {
    background-color: #e0dbdb;
}