
											/*----------------------------------------
													ADD FONT
											----------------------------------------*/
													@font-face{
														font-family: 'Expression';
														src: url('../fonts/EXPRESSI.TTF');
													}
/*----------------------------------------
Post body
----------------------------------------*/

.main_post_img{
	width:100%;
}
.link-post{

}
.inf-link-post{
	padding:6px 10px;
	color: #333;

}
.inf-link-post a{
		color: #333;
}

.inf-link-post a:hover{
		color: #f13f13;
}

.main_post hr{
	border: inset #f13f13 2px;
}
.main_post>.row>.detail-add>.express{
	margin-top: 8px;

	padding: 8px 5px;
	background-color: #f13f13;
	border-color: rgba(0,0,0,0);
	border-radius: 8px;
	color:white;
	font-family: Impact, serif;
	font-size: 35px;
}
.my-img{
	width: 100%;
	padding: 5px 0px;
	margin:0px;
}
.left-img{
	padding-right: 4px;
}
.right-img{
	padding-left: 4px;
}

.post-title{
	color: #f13f13;
	font-family: 'Work Sans', Arial, sans-serif;
}

.post-text{
	font-size: 15px;
	font-family: Tahoma, Geneva, Verdana, serif;
}