.wrapped-page {}

* {
    font-family: 'Droid Serif', serif;
}

h4>a {
    color: black;
    cursor: pointer;
}

h4>a:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

h3>a {
    color: black;
    cursor: pointer;
}

h3>a:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

h5>a {
    color: black;
    cursor: pointer;
}

h5>a:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.for-title {
    color: black;
    cursor: pointer;
    margin: 0px;
}

.for-title:hover {
    color: red;
    cursor: pointer;
    margin: 0px;
    text-decoration: none;
}

.for-info {
    color: #a0a0a0;
    margin: 0px;
}

.justified {
    text-align: justify;
    margin-bottom: 0px;
}

.emphasis-small {
    padding: 2px;
    font-size: 10px;
    color: white;
    background-color: #000;
    border: 1px #000 solid;
    display: inline-block;
    margin-bottom: 0px;
    box-shadow: 1px 1px 2px #000;
}

.trending {
    float: left;
    border: 1px #000 solid;
    box-shadow: 1px 1px 2px #000;
    padding: 3px;
    background-color: #000;
    color: white;
}

.trending-info {
    width: 300px;
    padding-top: 2px;
}

.author {
    display: inline-block;
    position: relative;
}

.comments {
    display: inline-block;
    position: relative;
    left: 50%;
}

.post-title {
    border-bottom: #000 1px solid;
}

.post-title>.title {
    color: white;
    background-color: #000;
    border: 1px #000 solid;
    display: inline-block;
    padding: 5px;
    margin-bottom: 0px;
    box-shadow: 1px 1px 2px #000;
}

.figure {
    font-size: 12px;
}

.my-button {
    color: white;
    background-color: #000;
    border: 2px #000 solid;
    display: inline-block;
    padding: 5px;
    margin-bottom: 0px;
    box-shadow: 1px 1px 2px #000;
}

.my-button:hover {
    background-color: white;
    color: black;
}


/*---------------------
    Header Top
---------------------*/

.header-top {
    background-color: #2e7d32;
    padding-top: 5px;
    padding-bottom: 5px;
}

.left-header {
    float: left;
    width: 600px;
}

.left-header>.date {
    float: left;
}

.left-header>.sign-in {
    float: left;
}

.right-header {
    float: right;
}


/*---------------------
    Navigation
---------------------*/

.my-nav {
    background-color: #0a0a0a;
    background-image: none;
}

.menu-item {
    display: list-item;
}

.main-nav {
    height: 80px
}

.main-nav>.my-list-item {
    height: 80px;
    font-weight: bold;
}

.navbar-default .navbar-nav>.my-list-item>a:hover {
    height: 80px;
    background-color: red;
    color: white;
}

.main-nav>.my-list-item>a {
    height: 80px;
    padding-top: 26px
}

.main-nav>.my-list-item>a:hover {
    color: white;
}

.navbar-default .navbar-nav>.active>a {
    color: white;
    background-color: red;
    background-image: none;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: red;
    background-image: none;
}


/* -----------------------------
.MAIN POST
------------------------------ */

.main-page {
    font-size: 16px;
}

.text-in-page {
    margin: 0px;
    padding-top: 15px;
}


/* Share-Place */

a.socialbox {
    font-weight: 200;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 5px 5px;
    margin-right: 10px;
}

a.socialbox.facebook {
    background-color: #2980b9;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

a.socialbox.twitter {
    background-color: #3498db;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

a.socialbox.pinterest {
    background-color: #c0392b;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

a.socialbox .social-icon {
    line-height: 32px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-right: 5px;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
}

a.socialbox .description {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 13px;
}

a.socialbox .description span {
    display: block;
    line-height: 16px;
}

.special {
    text-align: center;
}

.special-text {
    color: red;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    word-wrap: break-word;
    text-align: center;
    padding: 5px 0px;
}

.place-share {
    border: 1px inset #a0a0a0;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.place-share>p {
    display: inline-block;
    padding-right: 10px;
}

.direction {
    padding: 10px 0px;
}

.comments-place {
    padding: 20px 0px;
}

.comments-place .input-place:focus {
    border-color: red;
}


/* -----------------------------
.widget
------------------------------ */

.widget {}

.widget-page {
    padding-top: 20px;
    margin-bottom: 20px;
}

.widget-page-section {
    padding-top: 10px;
}

.emphasis {
    color: white;
    background-color: #000;
    border: 1px #000 solid;
    display: inline-block;
    padding: 5px;
    margin-bottom: 0px;
    box-shadow: 1px 1px 2px #000;
}

.post-info-latest {
    padding: 10px 0px;
}

.my-extra-footer {
    background-color: #35373a;
    padding: 20px 0px;
    color: white;
}

.footer-detail {
    text-align: justify;
}

.my-extra-footer>.container {
    border-bottom: white solid 2px;
}

.foot-logo {
    margin-bottom: 10px;
}

.foot-col .for-title {
    color: white
}

.foot-col .for-title a {
    color: white
}

.foot-col .for-title a:hover {
    color: red
}

.foot-pop {
    padding-bottom: 10px;
}

.foot-col h3 {
    padding-bottom: 20px;
}

.cat-no {
    float: right;
}

.foot-cat {
    padding-left: 0px;
    list-style-type: none;
}

.foot-cat>li {
    padding-bottom: 10px;
}

.cat-name {
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.cat-name:hover {
    color: red;
    text-decoration: none;
}

.social-foot {
    list-style-type: none;
    padding-left: 0px;
}

.social {
    display: inline-block;
    padding-right: 10px;
    float: left;
    font-size: 25px;
}