.wrapped-text{
	z-index:0;
}
.main-view{
	z-index:10;
}
/*----------------------------------------------------------------------------
My menu
-----------------------------------------------------------------------------*/
.my-menu{
	
	z-index: 600;
}
.img-logo {
	padding-top:0px;
}
.logo{
	width: 70px;
	padding-top:0px;
	margin-top:0px;
}
.header{
	width:100%;
	padding:0px;
}

/*--------------------------------
My header
----------------------------------*/
.my-header{
	z-index:10;
	padding:0px;
	background-attachment: fixed;
	background-image: url("../images/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0;
	height: 400px;
	opacity: 0.7;
}
.header-title{
	z-index:20;
	position: relative;
	margin: 0px auto;
	padding-top: 60px;
}

/*---------------------------*/
/*Posts
------------------------------*/

.post_cover{

}
.divided{
	border: whitesmoke inset 2px;
}
.post-details{
	padding-right:8px;
}



/*---------------------------*/
/*Sidebar
------------------------------*/
.sidebar1{
	border-bottom: 2px blue solid;
}

/*---------------------------*/
/*Footer
------------------------------*/

.tag{
	font-size: large;
}

.footer-contain{
	background-color: #252525;
	color:white;
}
.footer-section3{
	border-left: 2px white inset;
}
   /*---------------------------*/
   /*
   Bootsnip here
   */
   /*---------------------------*/
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }

/*---------------------------*/
/*Form Bootsnipp */
/*---------------------------*/
.myForm{
	background-color: #2f71aa;
    color: white;
    width: 700px;
}
h1,h2,h3.form-message {
	margin:0 0 35px 0;
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	letter-spacing:1px;
}

p.form-message{
	margin:0 0 25px;
	font-size:18px;
	line-height:1.6em;
}
a.form-message{
	color:#26a5d3;
}
 a.form-message:hover,a.form-message:focus{
	text-decoration:none;
	color:#26a5d3;
}

 /*#contact{
	background:#333333;
	color:#f4f4f4;
	padding-bottom:80px;
	z-index: 999;

}*/

textarea.form-control{
    height:100px;
}













/*#logoname{
	font-size: xx-large;
	color:blue;
	font-family: "Logo";
	src:url('FontDep.com-Royalacid_o.ttf');
	display:inline;
	font-weight: bold;
}
div #logo{
	position: relative;

}
header{
	background-color: #ccc;
}
span #logodescrip{
	font-size: medium; 
	font-family: Arial;
	color: #000000;
}
#socialicon{
	padding-top: 20px;
}
#facebook{
	width:40px;
}
#google{
	width:40px;
}
#instagram{
	width: 40px;
}
#post{
	border: 1px solid #000;
	padding-bottom: 15px;
}
#place{
	border: 1px solid #000;
	border-radius: 2px;
	padding-bottom: 15px;
}
div #post1{
	margin-bottom:20px;;
}
#post1{
	
	margin-top:20px 
	
}
footer{
	
}*/