.wrapped-page {}

* {
    font-family: 'Montserrat', sans-serif;
    line-height: 15pt;
}

a {
    color: #383737;
    cursor: pointer;
}

h4>a {
    color: black;
    cursor: pointer;
}

h4>a:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

h3>a {
    color: black;
    cursor: pointer;
}

h3>a:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

h5>a {
    color: black;
    cursor: pointer;
}

h5>a:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.for-title {
    color: black;
    cursor: pointer;
    margin: 0px;
}

.for-title:hover {
    color: red;
    cursor: pointer;
    margin: 0px;
    text-decoration: none;
}

.for-info {
    color: #a0a0a0;
    margin: 0px;
}

.justified {
    text-align: justify;
    margin-bottom: 0px;
}

.emphasis-small {
    padding: 2px;
    font-size: 10px;
    color: white;
    background-color: #000;
    border: 1px #000 solid;
    display: inline-block;
    margin-bottom: 0px;
    box-shadow: 1px 1px 2px #000;
}

.fix-hack {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}


/*---------------------
    Header Top
---------------------*/

.header-top {
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, red, #63161c);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, red, #63161c);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, red, #63161c);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, red, #63161c);
    /* Standard syntax */
    padding-top: 30px;
    padding-bottom: 5px;
    height: 96px;
    color: white;
}

.header-top a {
    color: white;
    margin-left: 10px;
    padding: 10px;
    font-size: 16px;
}

.header-top a:hover {
    color: white;
    padding-right: 10px;
    background-color: black;
    text-decoration: none;
}

.header-top>.container>h1 {
    margin: 0px;
    display: inline-block;
}

.header-top>.container>h1 .left-header {
    float: left;
    text-align: left;
}

.left-header>.date {
    float: left;
}

.left-header>.sign-in {
    float: left;
}

.right-header {
    float: right;
}

.search>.my-button {
    color: white;
    background-color: #000;
    border: 2px #000 solid;
    display: inline-block;
    padding: 5px;
    margin-bottom: 0px;
    box-shadow: 1px 1px 2px #000;
}

.search>.my-button:hover {
    background-color: white;
    color: black;
}

.search>input {
    color: black;
    width: 80%;
    font-size: 14px;
    height: 33px;
}


/*---------------------
    Navigation
---------------------*/

.my-nav {
    background-color: #383737;
    background-image: none;
    border: 1px #383737 solid;
    border-radius: 0px;
    font-size: 16px;
}

.menu-place {
    padding-left: 10px;
    margin-left: -10px;
}

.my-nav>.container>.menu-place>.navbar-nav>li>a {
    color: white;
    background-image: none;
}

.my-nav>.container>.menu-place>.navbar-nav>li>a:hover {
    color: white;
    background-color: #ff4141;
}

.my-nav>.container>.menu-place>.navbar-nav>.active>a {
    background-color: #ff4141;
}

.my-nav>.container>.menu-place>.navbar-nav>li>a:active {
    color: white;
    background-color: #ff4141;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #ff4141;
    border-color: #337ab7;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #ff4141;
}

.my-nav>.container>.menu-place>.navbar-nav>li>ul>li>a:hover {
    background-color: #ff4141;
    background-image: none;
}


/*---------------------
    Page
---------------------*/

.trending {
    float: left;
    border: 1px #383737 solid;
    padding: 3px 12px;
    background-color: #383737;
    color: white;
}

.trending-info {
    width: 988px;
    padding-top: 2px;
}

.new-post-text {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: -15px;
}

.image-category {
    position: relative;
    margin-bottom: 20px;
}

.main-image {
    position: relative;
    height: 460px;
}

.bg-image {
    padding-bottom: 30px;
}

.image-category .cover-image {
    position: absolute;
    z-index: 1000;
    bottom: 5px;
    left: 20px;
    padding-right: 10px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.image-category .cover-image a {
    cursor: pointer;
    color: white;
}

.image-category .cover-image a:hover {
    cursor: pointer;
    color: #ff4141;
    text-decoration: none;
}

.image-category .cover-around-image {
    height: 430px;
    position: relative;
    top: -430px;
    /* background-color: rgba(0,0,0,0.2); */
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.image-category .cover-around-other-image {
    height: 200px;
    top: -200px;
    position: relative;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}


}
.my-img-cat {
    height: 200px;
}
.other-image {}
.small-image {
    height: 230px
}
.other-image .cover-image {
    position: absolute;
    bottom: 5px;
    left: 20px;
    padding-right: 10px;
}
.other-image .cover-image a {
    cursor: pointer;
    color: white;
}
.other-image .cover-image a:hover {
    cursor: pointer;
    color: #ff4141;
    text-decoration: none;
}
.main-blog {
    padding-bottom: 20px;
}
.post-title {
    border-bottom: #383737 1px solid;
}
.post-title>.emphasis {
    font-size: 14px;
}
.post-title>.title {
    color: white;
    background-color: #383737;
    border: 1px #383737 solid;
    display: inline-block;
    padding: 5px;
    margin-bottom: 0px;
    box-shadow: 1px 1px 2px #383737;
}
.post-pop-detail {
    padding-top: 40px;
    padding-bottom: 40px;
}
.post-pop-detail>.pop-col {
    position: relative;
    overflow: hidden;
    /*max-height: 355px;*/
}
.post-pop-detail>.pop-col>h4>a {
    cursor: pointer;
    padding: 10px 0px;
}
.include-post>.section {
    padding-top: 10px;
    padding-bottom: 10px;
}
.include-post>.section h5 {
    margin: 0px;
}
.include-post>.section h5>a {
    cursor: pointer;
    color: black;
}
.post-pop-detail>.pop-col>.img-post-detail>.category {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.img-post-detail {
    position: relative;
}
.post-info {
    position: relative;
    display: block;
}
.author {
    font-size: 12px;
    display: inline-block;
    position: relative;
}
.comments {
    display: inline-block;
    position: relative;
    left: 50%;
}
.post-latest-detail {
    padding-top: 40px;
}
.post-content {
    padding: 10px 0px;
}
.text-for-latest {
    max-height: 4.2em;
}
.text-for-title {
    max-height: 2.7em;
    display: inline-block;
}

/* RESIZE IMAGE */
.m-thumbnail {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.m-thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    /*height: 100%;*/
    
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.m-thumbnail img.portrait {
    min-width: 100%;
    min-height: 100%;
}
.rm>.read-more {
    color: white;
    margin-top: 10px;
    padding: 11px 18px;
}
.rm>.read-more:hover {
    color: white;
    background-color: red;
    text-decoration: none;
}

/* For Image Latest Post  */
.resize-height-for-latest {
    height: 225px;
}

/* For Main Image   */
.resize-height-for-main {
    height: 430px;
}

/* For Footer Image   */
.resize-height-for-footer-post {
    height: 56px;
}
.m-thumbnail img.beauty-img {
    width: 100%;
}

/*Wiget Place  */
.widget {}
.widget-page {
    padding-top: 20px;
    margin-bottom: 20px;
}
.widget-page-section {
    padding-bottom: 10px;
}
.emphasis {
    color: white;
    background-color: #383737;
    border: 1px #383737 solid;
    display: inline-block;
    margin-bottom: 0px;
    font-size: 10px;
    padding: 1px 9px;
}
.emphasis:hover {
    background-color: #ff4141;
}

}
.post-info-latest {
    padding: 10px 0px;
}
.my-extra-footer {
    background-color: #35373a;
    padding: 20px 0px;
    color: white;
}
.footer-detail {
    text-align: justify;
}
.my-extra-footer>.container {
    border-bottom: white solid 2px;
}
.trans-page {
    margin: 0px;
    padding: 15px;
    color: black;
}
.button-next-previous>.trans-page>li {}
.button-next-previous>.trans-page>li>.emphasis-small {
    border-radius: 0px;
    background-color: black;
    color: white;
    margin-right: 10px;
}
.button-next-previous>.trans-page>li>.emphasis-small:hover {
    background-color: red;
    cursor: pointer;
}

/*---------------------
    Footer
---------------------*/
.foot-logo {
    margin-bottom: 10px;
}
.foot-col .for-title {
    color: white
}
.foot-col .for-title a {
    color: white
}
.foot-col .for-title a:hover {
    color: red
}
.foot-pop {
    padding-bottom: 10px;
}
.foot-col h3 {
    padding-bottom: 20px;
}
.cat-no {
    float: right;
}
.foot-cat {
    padding-left: 0px;
    list-style-type: none;
}
.foot-cat>li {
    padding-bottom: 10px;
}
.cat-name {
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.cat-name:hover {
    color: red;
    text-decoration: none;
}
.social-foot {
    list-style-type: none;
    padding-left: 0px;
}
.social {
    display: inline-block;
    padding-right: 10px;
    float: left;
    font-size: 25px;
}
.footer-title {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

/* More effect */
.not-visible {
    visibility: hidden;
}