.wrapped-page {}

h4>a {
    color: black;
    cursor: pointer;
}

h4>a:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

h3>a {
    color: black;
    cursor: pointer;
}

h3>a:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

h5>a {
    color: black;
    cursor: pointer;
}

h5>a:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.for-title {
    color: black;
    cursor: pointer;
    margin: 0px;
}

.for-title:hover {
    color: red;
    cursor: pointer;
    margin: 0px;
    text-decoration: none;
}

.justified {
    text-align: justify;
    margin-bottom: 0px;
}

.emphasis-small {
    padding: 2px;
    font-size: 10px;
    color: white;
    background-color: #000;
    border: 1px #000 solid;
    display: inline-block;
    margin-bottom: 0px;
    box-shadow: 1px 1px 2px #000;
}


/*---------------------
    Header Top
---------------------*/

.header-top {
    background-color: #2e7d32;
    padding-top: 5px;
    padding-bottom: 5px;
}

.left-header {
    float: left;
    width: 600px;
}

.left-header>.date {
    float: left;
}

.left-header>.sign-in {
    float: left;
}

.right-header {
    float: right;
}


/*---------------------
    Navigation
---------------------*/

.my-nav {
    background-color: #0a0a0a;
    background-image: none;
}

.menu-item {
    display: list-item;
}

.main-nav {
    height: 80px
}

.main-nav>.my-list-item {
    height: 80px;
    font-weight: bold;
}

.navbar-default .navbar-nav>.my-list-item>a:hover {
    height: 80px;
    background-color: red;
    color: white;
}

.main-nav>.my-list-item>a {
    height: 80px;
    padding-top: 26px
}

.main-nav>.my-list-item>a:hover {
    color: white;
}

.navbar-default .navbar-nav>.active>a {
    color: white;
    background-color: red;
    background-image: none;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: red;
    background-image: none;
}


/*---------------------
    Page
---------------------*/

.trending {
    float: left;
    border: 1px #000 solid;
    box-shadow: 1px 1px 2px #000;
    padding: 3px;
    background-color: #000;
    color: white;
}

.trending-info {
    width: 300px;
    padding-top: 2px;
}

.new-post-text {
    margin-bottom: 20px;
}

.image-category {
    position: relative;
    margin-bottom: 20px;
}

.main-image {
    position: relative;
    
}

.bg-image{
    padding-bottom: 30px;
}
.image-category .cover-image {
    position: absolute;
    z-index: 1000;
    bottom: 30px;
    left: 20px;
    padding-right: 10px;
}

.image-category .cover-image a{
    cursor: pointer;
    color:black;
}

.image-category .cover-image a:hover{
    cursor: pointer;
    color:red;
    text-decoration: none;
}

.other-image {
    
}

.small-image {
    
}

.other-image .cover-image {
    position: absolute;
    bottom: 30px;
    left: 20px;
    padding-right: 10px;
}
.other-image .cover-image a{
    cursor: pointer;
    color:black;
}
.other-image .cover-image a:hover{
    cursor: pointer;
    color:  red;
    text-decoration: none;
}
.post-title {
    border-bottom: #000 1px solid;
}

.post-title>.title {
    color: white;
    background-color: #000;
    border: 1px #000 solid;
    display: inline-block;
    padding: 5px;
    margin-bottom: 0px;
    box-shadow: 1px 1px 2px #000;
}

.post-pop-detail {
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-pop-detail>.pop-col {
    position: relative;
    overflow: hidden;
    /*max-height: 355px;*/
}

.post-pop-detail>.pop-col>h4>a {
    cursor: pointer;
    padding: 10px 0px;
}

.include-post>.section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.include-post>.section h5 {
    margin: 0px;
}

.include-post>.section h5>a {
    cursor: pointer;
    color: black;
}

.post-pop-detail>.pop-col>.img-post-detail>.category {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.img-post-detail {
    position: relative;
}

.post-info {
    position: relative;
    display: block;
}

.author {
    display: inline-block;
    position: relative;
}

.comments {
    display: inline-block;
    position: relative;
    left: 50%;
}

.post-latest-detail {
    padding-top: 20px;
}

.widget {
   
}

.widget-page {
    padding-top: 20px;
    margin-bottom: 20px;
}

.widget-page-section {
    padding-top: 10px;
}

.emphasis {
    color: white;
    background-color: #000;
    border: 1px #000 solid;
    display: inline-block;
    padding: 5px;
    margin-bottom: 0px;
    box-shadow: 1px 1px 2px #000;
}

.post-info-latest {
    padding: 10px 0px;
}

.rm {}