<!-- -----------------------------------------
                    Main Page
                ---------------------------------------- -->



<div class="container my-page post-section">
    <div class="new-post-text col-sm-12 hidden-sm col-xs-12 hidden-xs">
        <div class="trending now">
            Trending now
        </div>
        <!----------Please input Jquery here-------->
        <marquee class="trending-info"><a ng-repeat="x in allNewArticles.slice(0,4)">{{x.title}}. >>></a></marquee>
    </div>


    <div class="image-category">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 main-image">
                <div class="bg-image">
                    <div class="img-post-detail">

                        <div class="m-thumbnail resize-height-for-main">
                            <img ng-src="{{allArticles[0].media}}" class="portrait ">
                        </div>

                    </div>
                    <div class="cover-around-image">
                        <div class="cover-image">
                            <a href="detail.html"><span class="emphasis">{{getCategoryNameOfArticle(allArticles[0]._category._id)}}</span><br>
                                            <h4>{{allArticles[0].title}}</h4>
                                            <p class="author">{{allArticles[0]._author.name}} . {{allArticles[0].createdDate | date:'dd-MM-yyyy'}}</p>
                                            
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 other-image">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-6 ">
                        <div class="small-image">
                            <div class="bg-image">
                                <div class="m-thumbnail ">
                                    <img ng-src="{{allArticles[1].media}}" class="portrait ">
                                </div>
                                <div class="cover-around-other-image">
                                    <div class="cover-image">
                                        <a href="detail.html"><span class="emphasis">{{getCategoryNameOfArticle(allArticles[1]._category._id)}}</span><br>
                                            <h4>{{allArticles[1].title}}</h4>
                                           
                                            
                                </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-6 small-image">
                        <div class="small-image">
                            <div class="bg-image">
                                <div class="m-thumbnail ">
                                    <img ng-src="{{allArticles[2].media}}" class="portrait ">
                                </div>
                                <div class="cover-around-other-image">
                                    <div class="cover-image">
                                        <a href="detail.html"><span class="emphasis">{{getCategoryNameOfArticle(allArticles[2]._category._id)}}</span><br>
                                            <h4>{{allArticles[2].title}}</h4>
                                            
                                            
                                </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-6 small-image">
                        <div class="bg-image">
                            <div class="m-thumbnail ">
                                <img ng-src="{{allArticles[3].media}}" class="portrait ">
                            </div>
                            <div class="cover-around-other-image">
                                <div class="cover-image">
                                    <a href="detail.html"><span class="emphasis">{{getCategoryNameOfArticle(allArticles[3]._category._id)}}</span><br>
                                            <h4>{{allArticles[3].title}}</h4>
                                            
                                            
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-6 small-image">
                        <div class="bg-image">
                            <div class="m-thumbnail ">
                                <img ng-src="{{allArticles[4].media}}" class="portrait ">
                            </div>
                            <div class="cover-around-other-image">
                                <div class="cover-image">
                                    <a href="detail.html"><span class="emphasis">{{getCategoryNameOfArticle(allArticles[4]._category._id)}}</span><br>
                                            <h4>{{allArticles[4].title}}</h4>
                                            
                                            
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="main-blog">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 post-place">
                <div class="post-title">
                    <p class="title">
                        POPULAR NEWS
                    </p>
                </div>
                <div class="row post-pop-detail">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pop-col">
                        <div class="img-post-detail">
                            <img src="http://via.placeholder.com/400x200" class="img-responsive">
                            <div class="trending category">Football</div>
                        </div>
                        <h4><a href="detail.html"> Brazil-Ecuador Preview: Dunga men on road to redemption</a></h4>
                        <div class="post-info">
                            <p class="author">Tom . Apr 8, 2015</p>
                            <p class="right">1</p>
                        </div>
                        <p class="justified">All right. Well, take care yourself. I guess that's what you're best, presence old master? A tremor in the Force. The last time felt...</p>

                        <div class="include-post">
                            <div class="section">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                        <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                        <h5><a href="detail.html"><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                        <p>May 8, 2015</p>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                        <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                        <h5><a href="detail.html"><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                        <p>May 8, 2015</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pop-col">
                        <div class="img-post-detail">
                            <img src="http://via.placeholder.com/400x200" class="img-responsive">

                            <div class="trending category">Football</div>
                        </div>
                        <h4><a>Brazil-Ecuador Preview: Dunga men on road to redemption</a></h4>
                        <div class="post-info">
                            <p class="author">Tom . Apr 8, 2015</p>
                            <p class="right">1</p>
                        </div>
                        <p class="justified">All right. Well, take care yourself. I guess that's what you're best, presence old master? A tremor in the Force. The last time felt...</p>
                        <div class="include-post">
                            <div class="section">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                        <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                        <h5><a href=""><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                        <p>May 8, 2015</p>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                        <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                        <h5>
                                            <a href="#detail/{{x._id}}"> <b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a>
                                        </h5>
                                        <p>May 8, 2015</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-title">
                    <p class="title">
                        Điện Ảnh
                    </p>

                </div>
                <div class="row post-pop-detail">
                    <div ng-repeat="x in articlesInCat1" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pop-col">
                        <div class="img-post-detail thumbnai">
                            <div class="m-thumbnail">
                                <img src="{{x.media}}" class="my-img-cat portrait">
                            </div>
                            <div class="emphasis category">Điện Ảnh</div>
                        </div>
                        <h4><a href="#detail/{{x.id}}">{{x.title}}</a></h4>
                        <div class="post-info">
                            <p class="author">{{x._author.name}} . {{x.createdDate | date:'dd-MM-yyyy HH:mm:ss'}}</p>

                        </div>
                        <p class="justified">{{x.description}}</p>

                    </div>
                    <div class="button-next-previous left clearfix fix-hack">
                        <ul class="pagination trans-page left fix-hack">
                            <li><a class="emphasis-small"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                            <li>
                                <a class="emphasis-small"> <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a>
                            </li>

                        </ul>
                    </div>

                </div>

                <div class="post-title">
                    <p class="title">
                        Thời sự
                    </p>

                </div>
                <div class="row post-pop-detail">
                    <div ng-repeat="x in articlesInCat2" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pop-col">
                        <div class="img-post-detail">
                            <div class="m-thumbnail">
                                <img src="{{x.media}}" class="my-img-cat portrait">
                            </div>
                            <div class="trending category">Thời sự</div>
                        </div>
                        <h4><a href="#detail/{{x._id}}">{{x.title}}</a></h4>
                        <div class="post-info">
                            <p class="author">{{x._author.name}} .{{x.createdDate | date:'dd-MM-yyyy HH:mm:ss'}}</p>

                        </div>
                        <p class="justified">{{x.description}}</p>
                    </div>

                    <div class="button-next-previous left clearfix fix-hack">
                        <ul class="pagination trans-page left fix-hack">
                            <li><a class="emphasis-small"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                            <li>
                                <a class="emphasis-small"> <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="post-title">
                    <p class="title">
                        Thể thao
                    </p>

                </div>
                <div class="row post-pop-detail">

                    <div ng-repeat="x in articlesInCat3" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pop-col">
                        <div class="img-post-detail">
                            <div class="m-thumnail">
                                <img src="{{x.media}}" class="my-img-cat portrait">
                            </div>
                            <div class="trending category">Thể Thao</div>
                        </div>
                        <h4><a href="#detail/{{x._id}}">{{x.title}}</a></h4>
                        <div class="post-info">
                            <p class="author">{{x._author.name}} . {{x.createdDate | date:'dd-MM-yyyy HH:mm:ss'}}</p>

                        </div>
                        <p class="justified">{{x.description}}</p>
                    </div>

                    <div class="button-next-previous left clearfix fix-hack">
                        <ul class="pagination trans-page left fix-hack">
                            <li><a class="emphasis-small"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                            <li>
                                <a class="emphasis-small"> <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="post-title">
                    <p class="title">
                        LATEST POST
                    </p>
                </div>
                <div class="latest-post">
                    <div ng-repeat="x in allNewArticles.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) " class="row post-latest-detail ">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 crop ">
                            <div class="m-thumbnail resize-height-for-latest ">
                                <img ng-src="{{x.media}}" alt="" class="portrait">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h3 class="for-title"><a href="#detail/{{x._id}}">{{x.title}}</a></h3>
                            <div class="post-info-latest ">
                                <p class="emphasis">{{getCategoryNameOfArticle(x._category._id)}}</p>
                                <a href="#categories/{{x._author._id}}" class="author">{{x._author.name}} . {{x.createdDate | date:'dd-MM-yyyy HH:mm:ss'}}</a>

                            </div>
                            <div class="text ellipsis">
                                <p ng-bind-html="x.content" class="justified text-concat text-for-latest "></p>
                            </div>
                            <div class="read-more">
                                <span class="rm"><a class="emphasis read-more" href="#detail/{{x._id}}"> Read More</a></span>
                            </div>
                        </div>
                    </div>



                    <ul uib-pagination total-items="totalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>

                    <div class="button-next-previous left clearfix">
                        <ul class="pagination trans-page">
                            <li><a class="emphasis-small"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                            <li><a ng-click="setPage(1)" class="emphasis-small">1</a></li>
                            <li><a class="emphasis-small" ng-click="setPage(2)">2</a></li>

                            <li>
                                <a class="emphasis-small"> <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a>
                            </li>

                        </ul>
                    </div>
                    <div class="left clearfix fix-hack" class="view-page">
                        View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option>10</option> records at a time.</select>
                    </div>
                </div>
            </div>

            <!-- Widget -->

            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 widget">
                <div class="post-title">
                    <p class="title">
                        OUR FACEBOOK
                    </p>
                </div>
                <div class="widget-page">

                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=200px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="100%" height="200px"
                        style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <div class="post-title">
                    <p class="emphasis">
                        SPORTS NEWS
                    </p>
                </div>
                <div class="widget-page">
                    <div ng-repeat="x in randomArticles " class="widget-page-section">
                        <h4><a href="#detail/{{x._id}}">{{x.title}}</a></h4>
                        <p class="emphasis-small">{{x._category.name}}</p>
                    </div>

                </div>
                <div class="post-title">
                    <p class="emphasis">
                        MOST COMMENTS
                    </p>
                </div>
                <div class="widget-page">
                    <div class="widget-page-section">
                        <img src="http://via.placeholder.com/400x240" alt="" class="img-responsive">
                        <h3 class="for-title"><a href="detail.html">Pedal power sees Amy complete world toughest cycle challenge</a></h3>
                        <div class="post-info-latest">
                            <p class="emphasis">Cycling</p>
                            <p class="author">Tom . Apr 8, 2015</p>
                            <p class="comments">1</p>
                        </div>
                        <p class="justified">All right. Well, take care yourself. I guess that's what you're best, presence old master? A tremor in the Force. The last time felt it was in the presence of my old master. I have traced the Rebel spies...</p>
                    </div>
                    <div class="widget-page-section">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                <h5 class="for-title"><a href="detail.html"><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                <p>May 8, 2015</p>
                            </div>
                        </div>
                    </div>
                    <div class="widget-page-section">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                <h5 class="for-title"><a href="detail.html"><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                <p>May 8, 2015</p>
                            </div>
                        </div>
                    </div>
                    <div class="widget-page-section">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                <h5 class="for-title"><a href="detail.html"><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                <p>May 8, 2015</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-title">
                        <p class="emphasis">
                            CATEGORY
                        </p>
                    </div>
                    <div class="widget-page">
                        <ul>
                            <li ng-repeat="x in Categories">{{x.name}}</li>

                        </ul>
                    </div>

                </div>
            </div>


        </div>

    </div>
</div>