<div class="container my-page post-section">
    <div class="main-blog">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 post-place">
                <div class="post-title">
                    <p class="title">
                        {{getCategoryNameOfArticle(currentCategoryID)}}
                    </p>
                </div>
                <div class="latest-post">
                    <div ng-repeat="x in articlesInCategorySortedByDate" class="row post-latest-detail">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 crop ">
                            <div class="m-thumbnail resize-height-for-latest ">
                                <img ng-src="{{x.media}}" alt="" class="portrait">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h3 class="for-title"><a href="#detail/{{x._id}}">{{x.title}}</a></h3>
                            <div class="post-info-latest ">
                                <p class="emphasis">{{getCategoryNameOfArticle(x._category._id)}}</p>
                                <p class="author">{{x._author.name}} . {{x.createdDate | date:'dd-MM-yyyy HH:mm:ss'}}</p>

                            </div>
                            <div class="text ellipsis">
                                <p ng-bind-html="x.content" class="justified text-concat text-for-latest "></p>
                            </div>
                            <div class="read-more">
                                <span class="rm"><a href="#detail/{{x._id}}"> Read More</a></span>
                            </div>
                        </div>
                    </div>


                    <div class="button-next-previous left clearfix">
                        <ul class="pagination trans-page">
                            <li><a class="emphasis-small"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                            <li><a class="emphasis-small">1</a></li>
                            <li><a class="emphasis-small">2</a></li>
                            <li><a class="emphasis-small">3</a></li>
                            <li><a class="emphasis-small">...</a></li>
                            <li>
                                <a class="emphasis-small"> <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 widget">
                <div class="post-title">
                    <p class="title">
                        OUR FACEBOOK
                    </p>
                </div>
                <div class="widget-page">

                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=200px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="100%" height="200px"
                        style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <div class="post-title">
                    <p class="emphasis">
                        SPORTS NEWS
                    </p>
                </div>
                <div class="widget-page">
                    <div ng-repeat="x in randomArticles " class="widget-page-section">
                        <h4><a href="#detail/{{x._id}}">{{x.title}}</a></h4>
                        <p class="emphasis-small"> {{getCategoryNameOfArticle(x._category._id)}}</p>
                    </div>

                </div>
                <div class="post-title">
                    <p class="emphasis">
                        MOST COMMENTS
                    </p>
                </div>
                <div class="widget-page">
                    <div class="widget-page-section">
                        <img src="http://via.placeholder.com/400x240" alt="" class="img-responsive">
                        <h3 class="for-title"><a href="detail.html">Pedal power sees Amy complete world toughest cycle challenge</a></h3>
                        <div class="post-info-latest">
                            <p class="emphasis">Cycling</p>
                            <p class="author">Tom . Apr 8, 2015</p>

                        </div>
                        <p class="justified">All right. Well, take care yourself. I guess that's what you're best, presence old master? A tremor in the Force. The last time felt it was in the presence of my old master. I have traced the Rebel spies...</p>
                    </div>
                    <div class="widget-page-section">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                <h5 class="for-title"><a href="detail.html"><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                <p>May 8, 2015</p>
                            </div>
                        </div>
                    </div>
                    <div class="widget-page-section">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                <h5 class="for-title"><a href="detail.html"><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                <p>May 8, 2015</p>
                            </div>
                        </div>
                    </div>
                    <div class="widget-page-section">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                <h5 class="for-title"><a href="detail.html"><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                <p>May 8, 2015</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-title">
                        <p class="emphasis">
                            CATEGORY
                        </p>
                    </div>
                    <div class="widget-page">
                        <ul>
                            <li ng-repeat="x in Categories">{{x.name}}</li>

                        </ul>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>