<div class="container my-page post-section">
    <div class="main-blog">

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <div class="link-post">
                    <a href="#"> Home</a><i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <a href="#categories/{{currentCategoryID}}">{{getCategoryNameOfArticle(currentCategoryID)}}</a>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 post-place">
                <div class="post-title">
                    <p class="title">
                        {{getCategoryNameOfArticle(currentCategoryID)}}
                    </p>
                </div>
                <div class="latest-post">
                    <div ng-repeat="x in articlesInCategorySortedByDate.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) " class="row post-latest-detail ">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 crop ">
                            <div class="m-thumbnail resize-height-for-latest ">
                                <img ng-src="{{x.media}}" alt="" class="portrait">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h3 class="for-title"><a href="#detail/{{x._id}}">{{x.title}}</a></h3>
                            <div class="post-info-latest">
                                <a class="emphasis" href="#categories/{{x._category._id}}">{{getCategoryNameOfArticle(x._category._id)}}</a>
                                <a href="#author/{{x._author._id}}" class="author"><strong>{{x._author.name}}</strong></a> .
                                <p class="author">{{x.createDate | date:'dd-MM-yyyy HH:mm:ss'}}</p>

                            </div>
                            <div class="text ellipsis post-content">
                                <p ng-bind-html="x.description" class="justified text-concat text-for-latest "></p>
                            </div>
                            <div class="read-more">
                                <span class="rm"><a class="emphasis read-more" href="#detail/{{x._id}}"> Read More</a></span>
                            </div>
                        </div>
                    </div>

                    <ul uib-pagination total-items="totalItemsCategory" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" items-per-page="itemsPerPage" boundary-links="true" force-ellipses="true"></ul>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">

            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 widget">
                <div class="post-title">
                    <p class="title">
                        OUR FACEBOOK
                    </p>
                </div>
                <div class="widget-page">

                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=200px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="100%" height="200px"
                        style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <div class="post-title">
                    <p class="title">
                        SPORTS NEWS
                    </p>
                </div>
                <div class="widget-page">
                    <div ng-repeat="x in randomArticles " class="widget-page-section">
                        <h5><a href="#detail/{{x._id}}"><b>{{x.title}}</b></a></h5>
                        <p class="emphasis-small">{{x._category.name}}</p>
                    </div>

                </div>
                <div class="post-title">
                    <p class="title">
                        MOST COMMENTS
                    </p>
                </div>
                <div class="widget-page">
                    <div class="widget-page-section">
                        <div class="m-thumbnail img-most-comment">
                            <img ng-src="{{mostCommentsArticles[0].media}}" alt="" class="portrait">
                        </div>
                        <h4 class="for-title"><a href="detail.html">{{mostCommentsArticles[0].title}}</a></h4>
                        <div class="post-info-latest">
                            <p class="emphasis">{{mostCommentsArticles[0]._category.name}}</p>
                            <p class="author">{{mostCommentsArticles[0]._author.name}} . {{x.createdDate | date:'dd-MM-yyyy HH:mm:ss'}}</p>
                            <p class="right">{{mostCommentsArticles[0].comments.length}}</p>
                        </div>
                        <p class="justified">{{mostCommentsArticles[0].description}}</p>
                    </div>
                    <div class="widget-page-section">
                        <div ng-repeat="x in mostCommentsArticles.slice(1,4)" class="row">

                            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                <h5 class="for-title"><a href="#detail/{{x._id}}"><b> {{x.title}}</b></a></h5>
                                <p class="author">{{x.createdDate | date: "dd-mm-yyyy"}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>