<div ng-init="getArticleID()" class="container my-page">
    <div>
        <div class="link-post">
            <a href=""> Home</a><i class="fa fa-chevron-right" aria-hidden="true"></i>
            <a href="#categories/{{article._category._id}}">{{getCategoryNameOfArticle(article._category._id)}}</a><i class="fa fa-chevron-right" aria-hidden="true"></i>
            <a href="#detail/{{article._id}}">{{article.title}}</a>
        </div>
        <div class="post-section">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main-page">
                    <header class="detail-header">
                        <div class="bg-image">
                            <div class="m-thumbnail resize-height-for-header">
                                <img ng-src="{{article.media}}" class="portrait">
                            </div>
                        </div>
                        <div class="cover-around-image">
                            <div class="main-title">
                                <span class="emphasis">{{getCategoryNameOfArticle(article._category._id)}}</span>
                                <h1 class="text-in-page">{{article.title}}</h1>
                                <p class="author text-in-page">By {{article._author.name}} . {{article.createdDate | date:'dd-MM-yyyy HH:mm:ss'}} <span class="more-inf"><i class="fa fa-eye" aria-hidden="true"></i> 450</span> <span class="more-inf"><i class="fa fa-comments" aria-hidden="true"></i> 2</span></p>
                            </div>
                        </div>
                    </header>
                    <div class="share-place">
                        <div>
                            <a class="socialbox facebook" href="https://www.facebook.com">
                                <div class="social-icon">
                                    <i class="fa fa-fw fa-facebook"></i>
                                </div>
                                <div class="description">

                                    <span>Share on Facebook!</span>
                                </div>
                            </a>
                            <a class="socialbox twitter" href="https://twitter.com/cghubs">
                                <div class="social-icon">
                                    <i class="fa fa-fw fa-twitter"></i>
                                </div>
                                <div class="description">
                                    <span class="ng-binding"></span>
                                    <span>Follow us on Twitter!</span>
                                </div>
                            </a>
                            <a class="socialbox pinterest" href="http://www.pinterest.com/search/pins/?q=cghubs">
                                <div class="social-icon">
                                    <i class="fa fa-fw fa-pinterest"></i>
                                </div>
                                <div class="description">
                                    <span class="ng-binding"></span>
                                    <span>Find us on Pinterest!</span>
                                </div>
                            </a>
                            <p class="text-in-page justified"><i>{{article.description}}.</i></p>

                            <div class="text-in-page" ng-bind-html="article.content"></div>
                            <div class="place-share">
                                <p class="share-text"><b>Share        </b></p>
                                <a class="socialbox facebook" href="https://www.facebook.com">
                                    <div class="social-icon">
                                        <i class="fa fa-fw fa-facebook"></i>
                                    </div>
                                    <div class="description">

                                        <span>Share on Facebook!</span>
                                    </div>
                                </a>
                                <a class="socialbox twitter" href="https://twitter.com/cghubs">
                                    <div class="social-icon">
                                        <i class="fa fa-fw fa-twitter"></i>
                                    </div>
                                    <div class="description">
                                        <span class="ng-binding"></span>
                                        <span>Tweet on Twitter!</span>
                                    </div>
                                </a>
                                <a class="socialbox pinterest" href="http://www.pinterest.com/search/pins/?q=cghubs">
                                    <div class="social-icon">
                                        <i class="fa fa-fw fa-pinterest"></i>
                                    </div>
                                    <div class="description">
                                        <span class="ng-binding"></span>
                                        <span>Share on Pinterest!</span>
                                    </div>
                                </a>

                            </div>

                            <div class="direction row">
                                <div class="previous-post text-left col-sm-6 col-lg-6 col-md-6 hidden-xs">
                                    <a href="detail.html">Previous post </a>
                                    <h4><a href="detail.html">Oddly shaped sand trap if I do say so myself</a></h4>
                                </div>
                                <div class="previous-post text-right col-sm-6 col-lg-6 col-md-6 hidden-xs">
                                    <a href="detail.html">Next post </a>
                                    <h4><a href="detail.html">Sports Bloopers 2015 Funny Sport Fails Compilation</a></h4>
                                </div>
                            </div>



                            <div class="post-title">
                                <p class="title">
                                    COMMENTS
                                </p>

                            </div>
                            <form ng-submit="addCommentforArticle()" role="form" class="comments-place">


                                <div class="form-group">

                                    <label for="">Comments*:</label>
                                    <textarea name="" id="input" class="form-control input-place" rows="4" required="required" placeholder="Your comments" ng-model="myComments"></textarea>
                                </div>

                                <button type="submit" class="my-button">Send it</button>
                            </form>

                            <div class="all-comments">
                                <div class="row comments-out">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 image-com">
                                        <img src="images/user.jpg" class="img-comments">
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 detail-coms">
                                        <div>
                                            <h5 class="author text-left user-comments"><b>Tom Thomas</b></h5>
                                            <span class="date text-right">
                                        20:15 24/5/2016
                                    </span>
                                        </div>
                                        <p class="text-in-page">You should read it. This is so cool</p>
                                        <h5 class="text-in-page">Answer
                                            <a> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> <span class="count">1</span> <a><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a> <span class="count">1</span></h5>
                                    </div>
                                </div>
                                <div class="row comments-out">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 image-com">
                                        <img src="images/user.jpg" class="img-comments">
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 detail-coms">
                                        <div>
                                            <h5 class="author text-left user-comments"><b>Tom Thomas</b></h5>
                                            <span class="date text-right">
                                        20:15 24/5/2016
                                    </span>
                                        </div>
                                        <p class="text-in-page">You should read it. This is so cool</p>
                                        <h5 class="text-in-page">Answer
                                            <a> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> <span class="count">1</span> <a><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a> <span class="count">1</span></h5>
                                        <div class="row comments-out">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 image-com">
                                                <img src="images/user.jpg" class="img-comments">
                                            </div>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 detail-coms">
                                                <div>
                                                    <h5 class="author text-left user-comments"><b>Tom Thomas</b></h5>
                                                    <span class="date text-right">
                                        20:15 24/5/2016
                                    </span>
                                                </div>
                                                <p class="text-in-page">You should read it. This is so cool</p>
                                                <h5 class="text-in-page">Answer
                                                    <a> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> <span class="count">1</span> <a><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a> <span class="count">1</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row comments-out">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 image-com">
                                <img src="images/user.jpg" class="img-comments">
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 detail-coms">
                                <div>
                                    <h5 class="author text-left user-comments"><b>Tom Thomas</b></h5>
                                    <span class="date text-right">
                                        20:15 24/5/2016
                                    </span>
                                </div>
                                <p class="text-in-page">You should read it. This is so cool</p>
                                <div>
                                    <h5 class="text-in-page author">Answer
                                        <a> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> <span class="count">1</span> <a><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a> <span class="count">1</span></h5>
                                    <span class="date text-right"><a href="">Reply</a></span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">

                </div>
                <!-- Widget -->

                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 widget">
                    <div class="post-title">
                        <p class="title">
                            OUR FACEBOOK
                        </p>
                    </div>
                    <div class="widget-page">

                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=200px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="100%" height="200px"
                            style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </div>
                    <div class="post-title">
                        <p class="title">
                            SPORTS NEWS
                        </p>
                    </div>
                    <div class="widget-page">
                        <div ng-repeat="x in randomArticles " class="widget-page-section">
                            <h5><a href="#detail/{{x._id}}"><b>{{x.title}}</b></a></h5>
                            <p class="emphasis-small">{{x._category.name}}</p>
                        </div>

                    </div>
                    <div class="post-title">
                        <p class="title">
                            MOST COMMENTS
                        </p>
                    </div>
                    <div class="widget-page">
                        <div class="widget-page-section">
                            <img src="http://via.placeholder.com/400x240" alt="" class="img-responsive">
                            <h3 class="for-title"><a href="detail.html">Pedal power sees Amy complete world toughest cycle challenge</a></h3>
                            <div class="post-info-latest">
                                <p class="emphasis">Cycling</p>
                                <p class="author">Tom . Apr 8, 2015</p>
                                <p class="comments">1</p>
                            </div>
                            <p class="justified">All right. Well, take care yourself. I guess that's what you're best, presence old master? A tremor in the Force. The last time felt it was in the presence of my old master. I have traced the Rebel spies...</p>
                        </div>
                        <div class="widget-page-section">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                    <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                                </div>
                                <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                    <h5 class="for-title"><a href="detail.html"><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                    <p>May 8, 2015</p>
                                </div>
                            </div>
                        </div>
                        <div class="widget-page-section">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                    <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                                </div>
                                <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                    <h5 class="for-title"><a href="detail.html"><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                    <p>May 8, 2015</p>
                                </div>
                            </div>
                        </div>
                        <div class="widget-page-section">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                    <img src="http://via.placeholder.com/400x200" alt="title" class="img-responsive">
                                </div>
                                <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                                    <h5 class="for-title"><a href="detail.html"><b> Sports Bloopers 2015 Funny Sport Fails Compilation</b></a></h5>
                                    <p>May 8, 2015</p>
                                </div>
                            </div>
                        </div>
                        <div class="post-title">
                            <p class="title">
                                CATEGORY
                            </p>
                        </div>
                        <div class="widget-page">
                            <ul>
                                <li ng-repeat="x in Categories">{{x.name}}</li>

                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>